{% extends 'base.html' %}
{% block title %}Softwares{% endblock title %}
{% block body_id %}Softwares{% endblock %}

{% block controller %}
	ng-controller="CollegeController" ng-init="init('{{csrf_token}}', 'softwares')"
{% endblock controller %}

{% block dialogue_popup %}
	{% include 'add_software.html' %} 	              	
{% endblock %}

{% block content %}
	<div class="main-title">
		<div class="alert alert-info" align="Center">Softwares </div>
		<div  class="new_button">		
			<input type="button" class="btn btn-info" value="New Software" ng-click="add_new_software()">
		</div>
	</div>
	<div class="course_list">
		<table id="list" class="table table-hover" >
			<tr class="success" style="font-size: 12px" style="width:auto">
			  <th>Software</th>
			  <th>Edit </th>
			  <th>Delete</th>
			</tr>
			<tr ng-repeat="software in softwares">
				<td>[[software.name]]</td>
				<td> <a href="" ng-click="edit_software(software)"><img src="/static/images/edit.png"> </td>
				<td><a href="" ng-click="delete_software(software)"><img src="/static/images/delete.png"></td>
			</tr>
		</table> 
		  <div class="form_text">
            <p class="error_message"> [[message]] </p>
        </div>
	</div>	
{% endblock content %}