{% extends 'base.html' %}
{% block title %}Edit Fees Payment{% endblock title %}
{% block body_id %}edit_fees_payment{% endblock %}

{% block controller %}
	ng-controller="EditFeesPaymentController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content %}
	
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Edit Fees Payment</h4></div>
	</div>
	<div class="form_container">
		<form class="" name="payment" method="post" action="">
			{% csrf_token %}
			<div class="control">
				<label>Receipt No</label>
				<input type="text" name="receipt_no" id="receipt_no" ng-model="receipt_no" ng-change="get_fees_payment_details()"/> 
			</div>
			<div class="control">
				<label> Course</label> 
				<input type="text" name="course" ng-model="payment_details.course" readonly>
			</div>
			<div class="control">
				<label> Student</label>
				<input type="text" name="student" ng-model=" payment_details.student" readonly>
			</div>
			
			<div class="control">
				<label> Installment </label>  
				<input type="text" name="installment" ng-model="payment_details.installment" readonly>
			</div>
			<div class="control">
				<label>Due Date</label>
				<input type="text" name="date" id="due_date" ng-model="payment_details.due_date" readonly/> 
			</div>
			<div class="control">
				<label>Total Fee Amount</label>
				<input type="text" name="amount" ng-model="payment_details.student_fee_amount"  readonly/>
			</div>
			
			<div class="control">
				<label>Installment Amount</label>
				<input type="text" name="amount" id="fee_amount" ng-model="payment_details.installment_amount"  readonly/>
			</div>
			<div class="control">
				<label>Fine</label>
				<input type="text" name="fine" id="fine_amount" ng-model="payment_details.fine" readonly /> 
			</div>
			<div class="control">
				
			</div>
			<div class="control">
				<label>Installment + Fine</label>
				<input type="text" name="total_amount" id="total_fee_amount" ng-model="payment_details.total_installment_amount"  readonly/> 
			</div>
			<div class="control">
				<label>Paid Date</label>
				<input type="text" name="paid_date" id="paid_date" value="[[payment_details.paid_date]]" onSelect="calculate_total_amount()"/> 
			</div>
			<div class="control">
				<label>Paid Installment Amount</label>
				<input type="text" name="paid_amount" ng-model="payment_details.paid_amount" ng-change="calculate_balance()" autocomplete="off"/> 
			</div>
			<div class="control">
				<label>Fee Waiver</label>
				<input type="text" name="fee_waiver" ng-model="payment_details.fee_waiver" ng-change="calculate_balance()" autocomplete="off"/> 
			</div>
			<div class="control">
				<label>Paying Fine Amount</label>
				<input type="text" name="paid_amount" ng-model="payment_details.paid_fine_amount" ng-change="calculate_balance()" autocomplete="off"/> 
			</div>

			<div class="control">
				<label>Installment Balance</label>
				<input type="text" name="installment_balance" ng-model="payment_details.installment_balance" readonly id="installment_balance"/>
				<input type="hidden" name="installment_balance" ng-model="payment_details.installment_balance" readonly id="installment_balance_amount"/>
			</div>
			<div class="control">
				<label>Total Balance</label>
				<input type="text" name="total_balance" ng-model="payment_details.total_balance" readonly id="total_balance"/> 
				<input type="hidden" name="total_balance" ng-model="payment_details.total_balance_amount"/> 
			</div>
			<div class="buttons" align="center">
				<p class="error_message"> [[validation_error]] </p>
				<input type="button" class="btn btn-info" value="Cancel" onClick="document.location.href = '/'">
				<input type="submit" value="Submit" ng-click="save_fees_payment()" class="btn btn-info">
			</div>
		</form>
	</div>	

{% endblock content %}