{% extends 'base.html' %}
{% block title %}Search{% endblock title %}
{% block body_id %}enquiry_search{% endblock body_id %}

{% block controller %}ng-controller="AdmissionController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block content %}
    <div id="main-title">
        <div class="alert alert-info" align="Center">
            <h4>Admission Form</h4>
        </div>
    </div>
    <div class="form_container">
        <form>
            <div class="control">
            </div> 
            <div class="control">
                <input type="radio"  ng-model="admission_type" value="Enquiry" ng-click="change_admission_type('Enquiry')" />
                <label>From Enquiry</label>
                <input type="radio" ng-model="admission_type" value="Admission" ng-click="change_admission_type('Admission')" />
                <label>Direct Admission</label>
            </div>
            <div class="control" ng-show="show_enquiry_search" id="search_box">
                <a class="close_pop" ng-click="show_enquiry_search='false'"></a>
                <h4> Search Enquiry</h4>

                <label>Student Name</label>
                <input class="form-control" type="text" name="student_name" ng-model="search.student_name" id="student_name" ng-change="enquiry_search()" autocomplete="off"/>
                <p  class="error_message">[[error_message]]</p> 
                <div class="enquiry_list">
                    <div class="enquiry" ng-repeat="enquiry in enquiries">
                        <span> [[enquiry.student_name]] - [[enquiry.auto_generated_num]]</span>
                    </div>
                </div>
                <div class="not_found" >
                    <p class="error_message">[[no_enquiry_msg]] </p>
                    <p class="error_message">[[no_count_msg]] </p>
                </div>  
            </div>

            <div class="section_1" >
                <div class="control" ng-hide="show_enquiry_search">
                    <br>
                    <br>
                </div>
                <div class="control" ng-show="admission_type=='Enquiry'">
                    <label> Enquiry Number</label>  
                    <input type="text" name="enquiry_num" ng-change="get_enquiry_details()" ng-model="enquiry_num" />
                    <p class="error_message">[[no_enquiry_msg]]</p>
                </div>
                <div class="control">
                    <label>Student Name*</label>
                    <input type="text" name="student_name" value="" ng-model="student_name" />
                </div>
                <div class="control">
                    <label > Roll No*</label>  
                    <input type="text" name="roll_number" value="" ng-model="roll_number"/>
                </div>
                <div class="control">
                    <label> Course*</label>  
                    <select name="course" ng-model="course" ng-options="course.id as course.course_name for course in courses" ng-change="get_fees()">
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="control">
                    <label> Batch*</label>  
                    <select name="batch" ng-model="batch" ng-change="get_fees_head()" ng-options="batch.id as batch.batch_name for batch in batches" multiple>
                        <option value="">Select</option>
                    </select>
                </div>
                <div class="control">
                    <label> Qualification</label>  
                    <input type="text" name="qualifications" value="" ng-model="qualifications" />
                </div>
                <div class="control">
                    <label> DOB*</label>  
                    <input type="text"name="dob" value="" ng-model="dob" id="dob" />
                </div>
                <div class="control">
                    <label>Address*</label> 
                    <textarea name="address" value="" ng-model="address"></textarea>
                </div>
                <div class="control">
                    <label> Mobile* </label>  
                    <input type="text"  name="mobile_number" value=""  ng-model="mobile_number" />
                </div>
                <div class="control">
                    <label> Email</label>      
                    <input type="text"name="email" value="" ng-model="email">
                </div>
                <div class="control">
                    <label>Blood Group*</label> 
                    <select ng-model="blood_group">
                        <option value="">Select</option>
                        <option value="A-">A-</option>
                        <option value="A+">A+</option>
                        <option value="B-">B-</option>
                        <option value="B+">B+</option>
                        <option value="AB-">AB-</option>
                        <option value="AB+">AB+</option>
                        <option value="O-">O-</option>
                        <option value="O+">O+</option>
                    </select>
                </div>
                <div class="control">
                    <label> Date of join*</label>
                    <input type="text"name="doj" value="" ng-model="doj" id="doj" />
                </div>
                <div class="control">
                    <label>Photo</label>
                    <input type="file" fileread="photo_img.src"/>
                    <input type="hidden" ng-model="photo_img.src">
                </div>
                <div class="control">
                    <label> Cadd Registration Number</label>
                    <input type="text"name="cadd_registration_no" value="" ng-model="cadd_registration_no" />
                </div>
                <div class="control">
                    <label>Certificates*</label>
                    <textarea name="certificates_submitted" value="" ng-model="certificates_submitted"> </textarea>
                </div>
                <div class="control">
                    <label>ID Proofs* </label>
                    <textarea name="id_proof" value="" ng-model="id_proof"></textarea> 
                </div>
                <div class="control">
                    <label> Guardian's Name*</label>   
                    <input type="text" name="guardian_name" value="" ng-model="guardian_name">
                </div>
                <div class="control">
                    <label> Relationship*</label>
                    <input type="text" ng-model="relationship" />
                </div>
                <div class="control">
                    <label > Guardian Mobile* </label> 
                    <input type="text"  name="guardian_mobile_number" value=""  ng-model="guardian_mobile_number" />
                </div>
                <div class="control">
                    <label>Actual Fees</label>
                    <input type="text" name="fees" value="" ng-model="fees" readonly>
                </div>
                <div class="control">
                    <label> Discount</label>
                    <input type="text" name="discount" value="" ng-model="discount" ng-change="calculate_actual_fees()">
                </div>
                <div class="control">
                    <label> Fees</label>
                    <input type="text" name="fees_after_discount" ng-model="fees_after_discount" >
                </div>
                <div class="control">
                    <label> Fine</label>
                    <input type="text" name="fine" ng-model="fine" >
                </div>
                <div class="control">
                    <label> No of Installmets</label>
                    <input type="text" name="no_installments" value="" ng-model="no_installments" ng-change="load_installments()" />
                </div>
                <div class="control" ng-show="installments.length > 0">
                    <table>
                        <tr>
                            <th>Amount</th>
                            <th>Due Date</th>
                            <th>Fine(Daily)</th>
                        </tr>
                        <tr ng-repeat="installment in installments">
                            <td><input type="text" id="amount" ng-model="installment.amount" /></td>
                            <td><input type="text" ng-model="installment.due_date" id="[[installment.due_date_id]]"ng-click="attach_date_picker(installment)" /></td>
                            <td><input type="text" ng-model="installment.fine" /></td>
                        </tr>
                    </table>
                </div>               
                <div class="buttons" align="Center">
                    <p class="error_message">[[validation_error]]</p>
                    <input type="button" class="btn btn-info" value="Create" ng-click="save_new_student()"/>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}