{% extends 'base.html' %}
{% block body_id %}follow_up_report{% endblock %}
{% block title %} Follow Up Report {% endblock title%}
{% block controller %} ng-controller="FollowUpReportController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}
	{% include 'view_enquiry_details.html' %} 
	{% include 'followup_details_view.html' %}          	
{% endblock %}
{% block content %}
 	<div id="main-title">
        <div class="alert alert-info" align="Center">
            <h4>Follow Up Report</h4>
        </div>
    </div>
     <div class="form_container single_column_container">
		<form name="permission_form">
	    <div class="control">
			<label>Start Date</label>
			<input type="text"name="start_date" value="" ng-model="start_date" id="start_date">	
		</div>
		<div class="control">
			<label>End Date</label>
			<input type="text"name="end_date" value="" ng-model="end_date" id="end_date">	
		</div>
		<div class="button_control">
			<p class="error_message">[[no_enquiry_msg]]</p>
			<button  ng-click="view_follow_ups()" >View</button>
		</div>

	</form>
	{% include 'pagination_div.html' %}
</div>
	<div class="form_container">
		<table ng-show="enquiries.length > 0" class="table list_table" style="width:90%;margin:auto">
			<tr>
				<th>#</th>
				<th>Date</th>
				<th>Enquiry Number</th>
				<th>Name</th>
				<th>Course</th>
				<th>Follow Up Details</th>
				<th>View</th>
			</tr>
			<tr ng-repeat="enquiry in enquiries">
				<td>[[$index+1]]</td>
				<td>[[enquiry.saved_date]]</td>
				<td>[[enquiry.auto_generated_num]]</td>
				<td>[[enquiry.student_name]]</td>
				<td>[[enquiry.course_name]]</td>
				<td><a href=""ng-click="display_followup_details(enquiry)"><img src="/static/images/view.png"></a></td>
				<td><a href=""ng-click="display_enquiry_details(enquiry)"><img src="/static/images/view.png"></a></td>
			</tr>
			
		</table>
	</div>
{% endblock content %}