<div style='display:none' id="enquiry_details_view">
    <div id='enquiry_details_view' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
	                <div id="main-title">
						<div class="alert alert-info" align="Center"><h4>Enquiry Details</h4></div>
					</div>
					<div class="section_1">
						<div class="formrow">
							<div class="formtext">
								<label class="bold">Student Name</label>  
								<label name="student_name" value="" >[[enquiry.student_name]] </label> 
							</div>
							
							<div class="formtext">
								<label class="bold">Address</label> 
								<label name="address" value="" > &nbsp;[[enquiry.address]]</label>
							</div>
							
							<div class="formtext">
								<label class="bold" > Mobile </label>	
								<label name="mobile" value="" > &nbsp;[[enquiry.mobile_number]]</label>		
							</div>
							
							<div class="formtext">
								<label class="bold"> Email</label>	
								<label name="email" value="" > &nbsp;[[enquiry.email]]</label>	
							</div>
							
							<div class="formtext">
								<label class="bold"> Date</label>
								<label name="date" value="" > &nbsp;[[enquiry.saved_date]]</label>
							</div>
							
							<div class="formtext">
								<label class="bold">Course</label>
								<label name="course" value="" > &nbsp;[[enquiry.course]]</label> 
							</div>
							
							
							<div class="formtext">
								<label class="bold">Educational Qualification</label> 
								<label name="educational_qualification" value="" > &nbsp;[[enquiry.educational_qualification]]</label> 
							</div>
							
							
						</div>
						<div class="formrow">
							<div class="formtext">
								<label class="bold">Details </label>
								<label name="details_about_clients_enquiry" value="" > &nbsp;[[enquiry.details_about_clients_enquiry]]</label>
							</div>
							
							<div class="formtext">
								<label class="bold">Discount</label>
								<label name="discount" value="" > &nbsp;[[enquiry.discount]]</label>			
							</div>
							
							<div class="formtext">
								<label class="bold">Remarks </label>
								<label name="remarks" value="" > &nbsp;[[enquiry.remarks]]</label> 
							</div>

						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>