{% extends 'base.html' %}

{% block title %}Add Certificate{% endblock title %}
{% block body_id %}add_certificate{% endblock %}

{% block controller %}
	ng-controller="CertificateController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block content %}
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Add Certificate</h4></div>
	</div>
    <div class="search_batch">
        <label>Certificate Name</label> 
        <input type="text" ng-model="certificate.name">   
    </div>
    <div class="search_batch">
        <label>Course</label> 
        <select ng-model="certificate.course" ng-change="select_course()">
            <option value="">Select</option>
            <option ng-repeat="course in courses" value="[[course.id]]">[[course.course_name]]</option>
        </select>
    </div>
    <div class="search_batch">
        <label>Issued To</label> 
        <input type="text" ng-model="student_name" ng-change="student_search()" autocomplete="off">   
        <div ng-show="students_list.length > 0" class="search_list">
            <div ng-repeat="student in students_list" class="search_list_item" ng-click="get_student_details(student)" ng-class="{'highlight': $index == focusIndex}">
            <span>[[student.roll_number]]-[[student.name]]</span>
            </div>
        <p class="error_msg">[[no_student_msg]]</p>
        </div>
    </div>
    <div class="search_batch">
        <label>Issued By</label> 
        <input type="text" ng-model="certificate.issued_authority">   
    </div>
    <div class="search_batch">
        <label>Date</label> 
        <input type="text" ng-model="certificate.date" id="certificate_date">   
    </div>
    <div align="center" class="control">
        <p class="error_message">[[validation_error]]</p>
        <input class ="btn btn-info" name="submit" type="button" value="Save" ng-click="save_certificate()">
        <input class ="btn btn-info" name="cancel" type="button" value="Cancel" ng-click="cancel_certificate()">
    </div>

{% endblock content %}