{% extends 'base.html' %}

{% block title %}Attendance Report{% endblock title %}
{% block body_id %}attendance_report{% endblock %}

{% block controller %}
	ng-controller="AttendanceReportController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block content %}
	<div class="form_container single_column_container">
		<div class="control">
			<label>Start Date</label>
			<input type="text" name="start_date" id="start_date" />
		</div>
		<div class="control">
			<label>End Date</label>
			<input type="text" name="end_date" id="end_date" />
		</div>
		<div class="control">
			<label>Batch</label>
			<select ng-model="batch" ng-options="batch.id as batch.batch_name for batch in batches">
				<option value="">Select</option>
			</select>
		</div>
		<div class="control">
			<p class="error_message">[[error_message]]</p>
			<input type="button" value="Generate" ng-click="generate()" />
		</div>
	</div>
{% endblock %}